@font-face{
    font-family:'8bitoperator';
    src: url('../fonts/8bitOperatorPlus-Bold.ttf') format('truetype');
}

body{
font-weight:none, color:#ccc !important;
}

h2 {
    font-family:"8bitoperator", sans-serif !important;
}

span.term{
    font-style:italic;
}

.hidden {
  opacity: 0.0 !important;
}

.exblock{
/*maybe style these separately sometime, idk*/
}

.function{
  color:#ccf;
  font-weight:bold;
  font-style:italic;
  font-size:18px;
  display:block;
}

.code-container{
    margin-bottom:15px;
}

.code-example {
    white-space:pre-wrap;
    font-family:monospace;
}

.container {
    margin-top: 35px;
}

.black {
    background-color:#000;
}

.arena {
    border:#fff 5px solid;
    padding:5px;
}

.centerbt{
   display:block;
   margin:auto;
}

.backimg {
    position : absolute;
    width    : 100%;
    top      : 0px;
    z-index  : -1;
}

.li-header{
color:#fff;
}

.linklike {
    color: #8ad;
    text-decoration:underline;
    cursor:pointer;
}

ul.nav li a, ul.nav li a:visited {
    color: #8ad !important;
}

ul.nav li a:hover, ul.nav li a:active {
    background-color: #222 !important;
    color: #8ad !important;
}

ul.nav li.active a {
    background-color:#222 !important;
    color: #8ad !important;
}

h2 {
 color:#eee;
}

body {
    background-color:#000;
    color:#bbb;
    font-size:16px;
}