name: Send a message to the channel cyf-nightly

on:
  workflow_run:
    workflows: ["Build CYF"]
    types:
      - completed
  workflow_dispatch:

jobs:
  message:
    runs-on: ubuntu-latest
    steps:
    - name: Discord Webhook Action
      uses: tsickert/discord-webhook@v5.3.0
      with:
        webhook-url: ${{ secrets.NIGHTLY_WEBHOOK_LINK }}
        content: "The last CYF nightly is ready to be used! Enjoy!"
